langchain
langchain-core
langchain-text-splitters
langchain_community
langchain_huggingface
langchain_openai
langchain-cohere
cohere
langchain-ollama
ollama
faiss-cpu
sentence-transformers
pandas
numpy
scikit-learn
torch
matplotlib
streamlit
dotenv
mlflow